.background{
    height: 100%;
}

.slideBG1{
    background-image: url('../../../assets/edificios.jpg');
    background-size: cover;
    height: 75vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.slideBG2{
    background-image: url('../../../assets/fondoBanner.jpg');
    background-size: cover;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
}

.logoBanner{
    height: 100%;
}

.h3{
    color: #cba864;
    margin: 0;
}

.icon{
    position: absolute;
    top: 592px;
}

@media (max-width: 768px) {
    .slideBG1,
    .slideBG2 {
        height: 50vh; /* Ajusta la altura según sea necesario para pantallas más pequeñas */
    }

    .icon {
        top: 492px; /* Ajusta la posición del icono en pantallas más pequeñas */
    }
}

@media (max-width: 576px) {
    .slideBG1,
    .slideBG2 {
        height: 40vh; /* Ajusta la altura según sea necesario para pantallas aún más pequeñas */
    }

    .icon {
        top: 392px; /* Ajusta la posición del icono en pantallas aún más pequeñas */
    }
}