.background{
    height: 300vh;
    margin-top: 18vh;
    background-color: white;
}

.photo{
    height: 100%;
}

@media only screen and (max-width: 767px) {
    .background {
        height: auto; /* Ajusta la altura según el contenido en dispositivos móviles */
        margin-top: 10vh; /* Ajusta el margen superior según sea necesario */
    }

    .photo {
        height: auto; /* Ajusta la altura según el contenido en dispositivos móviles */
    }
}