.background{
    height: auto;
    margin-top: 18vh;
}

.img{
    object-fit: contain;
    height: 131.5%;
}

@media only screen and (max-width: 1821px){
    .img{
    }
}

@media only screen and (max-width: 767px){
    .img{
        width: 100%;
    }
}