.background {
    display: flex;
    justify-content: center;
    color: #333333;
}

.form {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.labels {
    text-align: left;
    width: 95%;
}

.labels2 {
    text-align: left;
    width: 95%;
    margin-left: 1.5%;
}

.labels3 {
    margin-right: 2%;
}

.inputs {
    width: 96%;
    height: 5vh;
    margin-bottom: 2vh;
    font-size: medium;
    text-indent: 2%;
    color: #333333;
    border: 1px solid #888888;
    outline-color: #333333;
}

.inputDesactivate {
    width: 96%;
    height: 5vh;
    margin-bottom: 2vh;
    font-size: medium;
    cursor: default;
    outline: 0px;
    border: 1px solid #888888;
    text-indent: 2%;
    color: #333333;
}

.inputs2 {
    height: 4vh;
    width: 10%;
    text-indent: 4.5%;
    font-size: medium;
    margin-right: 5%;
    color: #333333;
    outline: 0px;
    border: 1px solid #888888;
}

.inputs3 {
    height: 4vh;
    width: 30%;
    text-indent: 4.5%;
    font-size: medium;
    margin-right: 5%;
    color: #333333;
    outline: 0px;
    border: 1px solid #888888;
}

.selects {
    height: 4.4vh;
    width: auto;
    font-size: medium;
    margin-right: 2%;
    border: 1px solid #888888;
    outline-color: #333333;
}

.selects2 {
    height: 4.4vh;
    width: 35%;
    margin-bottom: 2.5%;
    font-size: medium;
    border: 1px solid #888888;
    outline-color: #333333;
}

.selects3 {
    height: 4.4vh;
    width: 27.5%;
    font-size: medium;
    margin-right: 2%;
    border: 1px solid #888888;
    outline-color: #333333;
}

.fieldSets {
    display: flex;
    width: 90.5%;
    height: auto;
    justify-content: center;
    align-items: center;
    font-size: medium;
    border: none;
    margin-top: 1vh;
    margin-bottom: 2.5vh;
}

.fieldSets2 {
    display: flex;
    width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    font-size: medium;
    border: none;
    margin-top: 1vh;
    margin-bottom: 2.5vh;
}

@media only screen and (max-width: 767px) {
    .form{
        width: 95%;
    }
    .fieldSets2{
        width: 97%;
    }
    .fieldSets{
        flex-direction: column;
        align-items: start;
    }
    .inputs3{
        width: 50%;
    }
    .selects2{
        width: 51.5%;
    }
    .selects3{
        width: 51.5%;
    }
}

@media only screen and (max-width: 1821px) {
    .fieldSets {
        width: 97%;
    }
}