.background {
    height: 45.3vh;
    background-color: #211b1b;
    display: flex;
    align-items: center;
}

.logo {
    position: relative;
    max-width: 85%;
    height: auto;
}

@media only screen and (max-width: 767px) {
    .logo {
        max-width: 100%;
    }

    .background {
        height: 29vh;
    }

}
